@page "{id}"
@model ServiceHost.Areas.Administration.Pages.PeoplesAccounts.ShopkeeperAccounts.ReceiptRent.EditModel
@{
    Layout = "Shared/_AdminLayout";
}
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between bb-1 border-info">
                    <div class="header-title">
                        <a class="btn btn-sm btn-icon btn-success mx-2" itle="لیست" asp-page="./Index" asp-route-id="@Model.scommand.Id">
                            <i class="fa fa-bars"></i>
                        </a>
                        <a class="btn btn-sm btn-icon btn-secondary mx-2" title="برگشت" asp-page="/Accounts/ShopkeeperAccounts/Index">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                        </a>
                        <span class="card-title mx-2 mb-2">ویرایش پرداختی جدید دوکاندار - @Model.scommand.Name - @Model.scommand.Company</span>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate enctype="multipart/form-data" asp-page-handler="Create">
                        <div class="modal-body">
                            <div class="row">
                                <input value="@Model.Id" asp-for="@Model.command.Id" type="hidden" />
                                <input value="@Model.scommand.Id" asp-for="@Model.command.ForRent_Id" type="hidden" />
                                <input value="@Model.mcommand.Id" asp-for="@Model.command.Money_Id" type="hidden" />
                                <input value="@Model.command.Rent" asp-for="@Model.command.Rent" type="hidden" />
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="Location_Id">موقعیت</label>
                                        <select class="form-control" required id="Location_Id" asp-for="@Model.lcommand.Id"
                                                onchange="onchangelist(this.val)" asp-items="@Model.Locations">
                                            <option disabled value="" selected="">موقعیت ...</option>
                                        </select>
                                        <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="Shop_Id">کد دوکان</label>
                                        <select class="form-control" required asp-for="@Model.command.Shop_Id" id="Shop_Id" asp-items="@Model.Shops">
                                            <option disabled value="" selected="">کد دوکان ...</option>
                                        </select>
                                        <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="Date">تاریخ</label>
                                        <input id="Date" dir="ltr" required class="form-control input-mask" asp-for="@Model.command.Date"
                                               data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="yyyy/mm/dd" im-insert="false" placeholder="yyyy/mm/dd">
                                        <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="By">توسط</label>
                                        <input id="By" asp-for="@Model.command.By" required type="text" class="form-control">
                                        <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="PayBox_Id">خزانه</label>
                                        <select class="form-control" required asp-for="@Model.command.PayBox_Id" id="PayBox_Id" asp-items="@Model.PayBoxs">
                                            <option disabled value="" selected="">خزانه ...</option>
                                        </select>
                                        <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="Shop_Rest">حساب</label>
                                        <input id="Shop_Rest" value="@Model.scommand.Rest" disabled type="text" class="form-control text-start">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="Shop_Amount">مبلغ</label>
                                        <input id="Shop_Amount" asp-for="@Model.command.Shop_Amount" required type="text" class="form-control input-mask text-start"
                                               data-inputmask="'alias': 'numeric', 'placeholder': '0'">
                                        <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="Years">سال</label>
                                        <input id="Years" asp-for="@Model.command.Years" maxlength="4" required type="text" class="form-control input-mask text-start" data-inputmask="'alias': 'numeric'">
                                        <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="Months">ماه</label>
                                        <select class="form-control" required asp-for="@Model.command.Months" id="Months">
                                            <option disabled value="" selected="">ماه ...</option>
                                            <option value="1">حمل</option>
                                            <option value="2">ثور</option>
                                            <option value="3">جوزا</option>
                                            <option value="4">سرطان</option>
                                            <option value="5">اسد</option>
                                            <option value="6">سنبله</option>
                                            <option value="7">میزان</option>
                                            <option value="8">عقرب</option>
                                            <option value="9">قوس</option>
                                            <option value="10">جدی</option>
                                            <option value="11">دلو</option>
                                            <option value="12">حوت</option>
                                        </select>
                                        <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-sm btn-icon btn-outline-primary"><i class="fa fa-save"></i></button>
                                <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index" asp-route-id="@Model.scommand.Id"><i class="fa fa-close"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/Theme/assets/vendor_components/formatter/formatter.js"></script>
    <script src="~/Theme/assets/vendor_components/formatter/jquery.formatter.js"></script>
    <script src="~/Theme/material-rtl/js/pages/formatter.js"></script>

    <script src="~/Theme/material-rtl/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Theme/material-rtl/js/pages/form-mask.init.js"></script>

    <script>
        function onchangelist(val) {
            var location = $("#Location_Id").val();
            var postData = {
                'location': location,
            };
            $.ajax({
                ccontentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "GET",
                url: "@Url.Page("./Create", "Location")",
                data: postData,
                success: function (date) {
                    $('#Shop_Id').empty();
                    var option = '';
                    option += '<option value="">کد دوکان ...</option>';
                    for (var i = 0; i < date.length; i++) {
                        option += '<option value="' + date[i].id + '">' + date[i].name + '</option>';
                    }
                    $('#Shop_Id').append(option);
                },
            });
        }
    </script>
}