@model AccountManagement.Application.Contracts.Locations.Removed_Location
@{
}
<div class="modal-header">
    <h4 class="modal-title">لیست مکان های حذف شده</h4>
    <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index"><i class="fa fa-close"></i></a>
</div>

<div class="modal-body">
    <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
        <thead class="table-Primary">
            <tr>
                <th class="text-center">نام</th>
                <th class="text-center">دوکان ها</th>
                <th class="text-center">کرایی</th>
                <th class="text-center">سر قلفی</th>
                <th class="text-center">عملیات</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var item in Model.Locations)
            {
            <tr>
                <td class="text-center">@item.Name</td>
                <td class="text-center text-primary">@Model.Shops.Where(x => x.Location_Id == item.Id).Count().ToString()</td>
                <td class="text-center text-warning">@Model.Shops.Where(x => x.Sold == false && x.Location_Id == item.Id).Count().ToString()</td>
                <td class="text-center text-success">@Model.Shops.Where(x => x.Sold == true && x.Location_Id == item.Id).Count().ToString()</td>
                <td class="text-center">
                    <a class="btn btn-sm btn-icon btn-danger" title="بازیابی" asp-page="./Index" asp-page-handler="Activate" asp-route-id="@item.Id">
                        <i class="fa fa-repeat"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/Theme/assets/vendor_components/formatter/formatter.js"></script>
    <script src="~/Theme/assets/vendor_components/formatter/jquery.formatter.js"></script>
    <script src="~/Theme/material-rtl/js/pages/formatter.js"></script>
}