@page "{id}"
@model ServiceHost.Areas.Administration.Pages.People.Sold.EditModel
@{
    Layout = "Shared/_AdminLayout";
}
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between bb-1 border-info">
                    <div class="header-title">
                        <a class="btn btn-sm btn-icon btn-success mx-2" asp-page="./Index"><i class="fa fa-bars"></i></a>
                        <span class="card-title mx-2 mb-2">ویرایش دوکان - @Model.command.Name _ @Model.command.Company </span>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="Start_Date">تاریخ شروع</label>
                                        <input id="Start_Date" dir="ltr" required class="form-control input-mask" asp-for="@Model.command.Start_Date"
                                               data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="yyyy/mm/dd" im-insert="false" placeholder="yyyy/mm/dd">
                                        <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="End_Date">تاریخ ختم</label>
                                        <input id="End_Date" dir="ltr" class="form-control input-mask" asp-for="@Model.command.End_Date"
                                               data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="yyyy/mm/dd" im-insert="false" placeholder="yyyy/mm/dd">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="Name">نام دوکان دار</label>
                                        <input id="Name" type="text" required class="form-control" asp-for="@Model.command.Name">
                                        <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="Company">شرکت</label>
                                        <input id="Company" type="text" class="form-control" asp-for="@Model.command.Company">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="Address">آدرس دوکاندار</label>
                                        <input id="Address" type="text" class="form-control" asp-for="@Model.command.Address">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="Phone">شماره تماس</label>
                                        <input id="phone" dir="ltr" type="text" class="form-control" asp-for="@Model.command.Phone">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="Location_Id">موقعیت</label>
                                        <select class="form-control" required id="Location_Id" asp-for="@Model.lcommand.Id"
                                                onchange="onchangelist(this.val)" asp-items="@Model.Locations">
                                            <option disabled value="" selected="">موقعیت ...</option>
                                        </select>
                                        <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="Shop_Id">کد دوکان</label>
                                        <select class="form-control" required asp-for="@Model.command.Shop_Id" id="Shop_Id" asp-items="@Model.Shops">
                                            <option disabled value="" selected="">کد دوکان ...</option>
                                        </select>
                                        <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" asp-for="@Model.command.Id" value="@Model.command.Id">
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-sm btn-icon btn-outline-primary"><i class="fa fa-save"></i></button>
                                <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index"><i class="fa fa-close"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/Theme/assets/vendor_components/formatter/formatter.js"></script>
    <script src="~/Theme/assets/vendor_components/formatter/jquery.formatter.js"></script>
    <script src="~/Theme/material-rtl/js/pages/formatter.js"></script>

    <script src="~/Theme/material-rtl/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Theme/material-rtl/js/pages/form-mask.init.js"></script>

    <script>
        function onchangelist(val) {
            var location = $("#Location_Id").val();
            var postData = {
                'location': location,
            };
            $.ajax({
                ccontentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "GET",
                url: "@Url.Page("./Create", "Location")",
                data: postData,
                success: function (date) {
                    $('#Shop_Id').empty();
                    var option = '';
                    option += '<option value="">کد دوکان ...</option>';
                    for (var i = 0; i < date.length; i++) {
                        option += '<option value="' + date[i].id + '">' + date[i].name + '</option>';
                    }
                    $('#Shop_Id').append(option);
                },
            });
        }
    </script>
}