@page "{id}"
@model ServiceHost.Areas.Administration.Pages.Accounts.ShopAccounts.Rent.IndexModel
@using _0_Framework.Application;
@inject _0_Framework.Application.IAuthHelper AuthHelper;
@{
    Layout = "Shared/_AdminLayout";
    var currentAccout = AuthHelper.CurrentAccountInfo();
}
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between bb-1 border-info">
                    <div class="header-title">
                        @if (currentAccout.RoleId == 1)
                        {
                            <a class="btn btn-sm btn-icon btn-success mx-2" title="ثبت جدید" href="#showmodal=@Url.Page("./Index", "Create", new { id = Model.Id })">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a class="btn btn-sm btn-icon btn-danger mx-2" title="حذف شده ها" href="#showmodal=@Url.Page("./Index", "Removed", new { id = Model.Id })">
                                <i class="fa fa-trash"></i>
                            </a>
                        }
                        <a class="btn btn-sm btn-icon btn-secondary mx-2" title="برگشت" asp-page="/Accounts/ShopAccounts/Index">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                        </a>
                        <span class="card-title mx-2">لیست کرایه های دوکان - @Model.Location _ @Model.Name</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
                            <thead class="table-Primary">
                                <tr>
                                    <th class="text-center">شماره</th>
                                    <th class="text-center">دوکاندار</th>
                                    <th class="text-center">سال</th>
                                    <th class="text-center">واحد</th>
                                    <th class="text-center">حمل</th>
                                    <th class="text-center">ثور</th>
                                    <th class="text-center">جوزا</th>
                                    <th class="text-center">سرطان</th>
                                    <th class="text-center">اسد</th>
                                    <th class="text-center">سنبله</th>
                                    <th class="text-center">میزان</th>
                                    <th class="text-center">عقرب</th>
                                    <th class="text-center">قوس</th>
                                    <th class="text-center">جدی</th>
                                    <th class="text-center">دلو</th>
                                    <th class="text-center">حوت</th>
                                    @if (currentAccout.RoleId == 2 || currentAccout.RoleId == 1)
                                    {
                                        <th class="text-center">عملیات</th>
                                    }
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                @foreach (var item in Model.Rent)
                                {
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="text-center">@item.ForRentName _ @item.ForRentCompany</td>
                                        <td class="text-center">@item.Year</td>
                                        <td class="text-center">@item.Money</td>
                                        <td class="text-center">@item.Month_1.ToMoney()</td>
                                        <td class="text-center">@item.Month_2.ToMoney()</td>
                                        <td class="text-center">@item.Month_3.ToMoney()</td>
                                        <td class="text-center">@item.Month_4.ToMoney()</td>
                                        <td class="text-center">@item.Month_5.ToMoney()</td>
                                        <td class="text-center">@item.Month_6.ToMoney()</td>
                                        <td class="text-center">@item.Month_7.ToMoney()</td>
                                        <td class="text-center">@item.Month_8.ToMoney()</td>
                                        <td class="text-center">@item.Month_9.ToMoney()</td>
                                        <td class="text-center">@item.Month_10.ToMoney()</td>
                                        <td class="text-center">@item.Month_11.ToMoney()</td>
                                        <td class="text-center">@item.Month_12.ToMoney()</td>
                                        @if (currentAccout.RoleId == 2 || currentAccout.RoleId == 1)
                                        {
                                            <td class="text-center">
                                                <a class="btn btn-sm btn-icon btn-warning" title="ویرایش" href="#showmodal=@Url.Page("./Index", "Edit", new { id = item.Id })">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                @if (currentAccout.RoleId == 1)
                                                {
                                                    <a class="btn btn-sm btn-icon btn-danger" title="حذف" asp-page-handler="Remove" asp-route-id="@item.Id">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/Theme/assets/vendor_components/datatable/datatables.js"></script>
    <script src="~/Theme/material-rtl/js/pages/data-table.js"></script>
    <script>
        $('#tbody tr').each(function (idx) {
            $(this).children().first().html(idx + 1);
        });
    </script>
}