@model AccountManagement.Application.Contracts.Salary.SalaryRemoved
@using _0_Framework.Application;
@{
}
<div class="modal-header">
    <h4 class="modal-title">لیست معاشات حذف شده کارمندان</h4>
    <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index"  asp-route-id="@Model.Id"><i class="fa fa-close"></i></a>
</div>

<div class="modal-body">
    <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
        <thead class="table-Primary">
            <tr>
                <th class="text-center">شماره</th>
                <th class="text-center">سال</th>
                <th class="text-center">ماه</th>
                <th class="text-center">معاش</th>
                <th class="text-center">واحد</th>
                <th class="text-center">عملیات</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var item in Model.Salarys)
            {
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center">@item.Year</td>
                    <td class="text-center">@item.Month</td>
                    <td class="text-center">@item.Month_Salary.ToMoney()</td>
                    <td class="text-center">@item.Money</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-icon btn-danger" title="بازیابی" asp-page="./Index" asp-page-handler="Activate" asp-route-id="@item.Id">
                            <i class="fa fa-repeat"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/Theme/assets/vendor_components/formatter/formatter.js"></script>
    <script src="~/Theme/assets/vendor_components/formatter/jquery.formatter.js"></script>
    <script src="~/Theme/material-rtl/js/pages/formatter.js"></script>
}