@model AccountManagement.Application.Contracts.Employee.Removed
@using _0_Framework.Application;
@{
}
<div class="modal-header">
    <h4 class="modal-title">لیست کارمندان غیرفغال شده</h4>
    <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index"><i class="fa fa-close"></i></a>
</div>

<div class="modal-body">
    <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
        <thead class="table-Primary">
            <tr>
                <th class="text-center">تاریخ</th>
                <th class="text-center">نام</th>
                <th class="text-center">شماره تماس</th>
                <th class="text-center">آدرس</th>
                <th class="text-center">معاش</th>
                <th class="text-center">واحد</th>
                <th class="text-center">عملیات</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td class="text-center">@item.Date</td>
                    <td class="text-center">@item.FullName</td>
                    <td class="text-center" dir="ltr">@item.Phone</td>
                    <td class="text-center">@item.Address</td>
                    <td class="text-center">@item.Salary.ToMoney()</td>
                    <td class="text-center">@item.Money</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-icon btn-danger" title="فعال" asp-page="./Index" asp-page-handler="On" asp-route-id="@item.Id">
                            <i class="mdi mdi-account-convert"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/Theme/assets/vendor_components/formatter/formatter.js"></script>
    <script src="~/Theme/assets/vendor_components/formatter/jquery.formatter.js"></script>
    <script src="~/Theme/material-rtl/js/pages/formatter.js"></script>
}
